
@font-face {
  font-family: 'CeraPRO-Medium';
  src: url('CeraPRO-Medium.eot?#iefix') format('embedded-opentype'),  url('CeraPRO-Medium.woff') format('woff'), url('CeraPRO-Medium.ttf')  format('truetype'), url('CeraPRO-Medium.svg#CeraPRO-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
